[input]
Complete = shift-tab; alt-/

[editor]
Store = ctrl-c
Paste = ctrl-v
Cut = ctrl-x; ctrl-w
Up = up; ctrl-p
Down = down; ctrl-n
Left = left; ctrl-b
Right = right; ctrl-f
WordLeft = ctrl-left; alt-b
WordRight = ctrl-right; alt-f
Enter = enter
Return = shift-enter; ctrl-enter; ctrl-shift-enter
BackSpace = backspace
PageUp = pgup;
PageDown = pgdn;
Home = home; ctrl-a
End = end; ctrl-e
Tab = tab;
Undo = ctrl-u
Redo = ctrl-r
Top = ctrl-home; alt-lt
Bottom = ctrl-end; alt-gt
ScrollUp = ctrl-up
ScrollDown = ctrl-down
TopOnScreen = ctrl-pgup
BottomOnScreen = ctrl-pgdn
DeleteToWordBegin = alt-backspace
DeleteToWordEnd = alt-d
DeleteLine = ctrl-y
DeleteToEnd = ctrl-k
DeleteToHome = ctrl-shift-k
ParagraphUp = alt-a
ParagraphDown = alt-e
Save = f2
SaveAs = f12; ctrl-f2
EditNew = none
# Close =
History = alt-shift-e
Mark = f3; ctrl-at
Copy = f5
Move = f6
Remove = f8
MarkLine = alt-l
MarkWord = alt-w
# MarkAll =
Unmark = alt-y
Search = f7; ctrl-s
SearchContinue = f17; alt-s

MarkPageUp = shift-pgup
MarkPageDown = shift-pgdn
MarkLeft = shift-left
MarkRight = shift-right
MarkToWordBegin = ctrl-shift-left
MarkToWordEnd = ctrl-shift-right
MarkUp = shift-up
MarkDown = shift-down
MarkToHome = shift-home
MarkToEnd = shift-end
MarkToFileBegin = ctrl-shift-home
MarkToFileEnd = ctrl-shift-end
MarkToPageBegin = ctrl-shift-pgup
MarkToPageEnd = ctrl-shift-pgdn
MarkScrollUp = ctrl-shift-up
MarkScrollDown = ctrl-shift-down
MarkParagraphUp = alt-shift-h
MarkParagraphDown = alt-h
MarkColumnPageUp = alt-pgup
MarkColumnPageDown = alt-pgdn
MarkColumnLeft = alt-left
MarkColumnRight = alt-right
MarkColumnUp = alt-up
MarkColumnDown = alt-down
# BlockSave =
MarkColumn = f13
Replace = f4
ReplaceContinue = f14
Complete = shift-tab; alt-/
InsertFile = f15
Quit = f10; esc
InsertOverwrite = insert
Help = f1
Refresh = ctrl-l
Goto = alt-g
Sort = alt-t
ParagraphFormat = none
MatchBracket = alt-m
ExternalCommand = alt-u
UserMenu = f11
Menu = f9
Bookmark = alt-k
BookmarkFlush = alt-o
BookmarkNext = alt-j; alt-n
BookmarkPrev = alt-i; alt-p
Shell = ctrl-o
InsertLiteral = ctrl-q
MacroStartStopRecord = alt-q
MacroDelete = alt-shift-q

ShowNumbers = none
SpellCheckCurrentWord = none
ShowMargin = none

ShowTabTws = alt-underline
Find = alt-enter
FilePrev = alt-minus
FileNext = alt-plus
RepeatStartStopRecord = alt-r
SelectCodepage = none
WindowList = alt-v
WindowNext = alt-,
WindowPrev = alt-.
ExtendedKeyMap = alt-x

[editor:xmap]
EditNew = k
ShowNumbers = n
ParagraphFormat = p
SelectCodepage = e
BlockShiftLeft = left; alt-left
BlockShiftRight = right; alt-right
Date = d
# SpellCheck = ctrl-p
SpellCheckCurrentWord = ctrl-p
# SpellCheckSelectLang =
# LearnKeys =
# WindowMove =
# WindowResize =
# WindowFullscreen =
ShowMargin = m