[input]
Complete=alt-/

[editor]
WindowNext=alt-.
WindowPrev=alt-,
WindowList=alt-v

Complete=alt-/
EditNew=none
WordLeft=alt-b
WordRight=alt-f

Unmark=ctrl-space
MarkWord=alt-a
MarkParagraphDown=alt-h
MarkParagraphUp=alt-H
MatchBracket=alt-m

SearchContinue=f17;ctrl-s

Down = down;ctrl-n
Up = up;ctrl-p
Left = left;ctrl-b
Right = right;ctrl-f

Store=ctrl-insert;ctrl-c
Paste=shift-insert;ctrl-v
Cut=shift-delete;ctrl-x


